.Battleground {
    text-align: left;
}
.grid {
    width: 500px;
    height: 500px;
    border: 1px solid #333;
    background: #D8F6FF;
}
.grid .cell {
    width: 50px;
    height: 50px;
    fill: transparent;
    stroke-width: 1px;
    stroke: #2e6da4;
    cursor: pointer;
    z-index: 9;
}

.grid .cell:hover {
    fill: rgb(50,50,50);
    opacity: 0.25;
}

.grid .cell.miss {
    cursor: default;
    fill: #ffffff;
}
.grid .cell.miss:hover {
    opacity: 1;
}
.grid .cell.hit {
    cursor: default;
    fill: #ffb2b2;
}
.grid .cell.hit:hover {
    opacity: 1;
}

@keyframes ShipAppears {
    from {opacity: 0.5;}
    to   {opacity: 1;}
}

.grid .ship-frame {
    fill: #ffb2b2;
    stroke-width: 2px;
    stroke: #fd4545;
    z-index: 99;
    animation-name: ShipAppears;
    animation-duration: 0.3s;
}