.Control {
    /*width: 120px;
    height: 500px;
    float: right;
    position: relative;
    margin: 50px 40px 0 40px;*/
    text-align: center;
    font-family: monospace;
    grid-column: 3;
    grid-row: 1;
}

.Control .field {
    min-height: 50px;
    padding: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Control .label {
    color: #2e6da4;
    font-size: 14px;
    font-weight: bold;
    text-shadow: rgba(200, 200, 200, 0.5) 0px 2px 2px;
}

.Control .value {
    color: #333;
    font-size: 18px;
    font-weight: normal;
}

.Control .btn a, .Control .btn a:visited {
    color: #2e6da4;
    text-decoration: none;
    text-shadow: rgba(200, 200, 200, 0.5) 0px 1px 1px;
}

.Control .btn a:hover {
    color: #3e6e96;
}

.Control .setup-state, .Control .play-state {
    height: 100%;
}

.Control .bottom {
    position: relative;
    top: -38px; /* with 4px padding from the bottom */
    height: 34px;
}

.Control .bottom .btn {
    padding: 0;
}

.Control .wanted-list {
    max-width: 10em; /* ship names and counts should not be too far */
    margin: 0 auto;
    padding: 0;
    text-align: justify;
    list-style-type: none;
}
.Control .wanted-list li {
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.Control .wanted-list .name {
    display: block;
    text-align: left;
}
.Control .wanted-list .count {
    color: #888;
    display: block;
    text-align: right;
}
.Control .wanted-list .count::before {
    content: " x";
    font-size: 10px;
}

.Control p {
    text-align: left;
    text-transform: none;
}

@media screen and (max-width: 992px) {
    .Control .bottom {
        top: 8px;
    }
}