.Control {
    width: 120px;
    height: 500px;
    float: right;
    position: relative;
    margin: 50px 40px 0 40px;
    text-align: center;
    font-family: monospace;
}

.Control .field {
    font-family: monospace;
    height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Control .label {
    color: #2e6da4;
    font-size: 14px;
    font-weight: bold;
    text-shadow: rgba(200, 200, 200, 0.5) 0px 2px 2px;
}

.Control .value {
    color: #333;
    font-size: 18px;
    font-weight: normal;
}

.Control .buttons {
    height: 200px;
    position: absolute;
    bottom: 0;
}

.Control .buttons .btn {
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}

.Control .buttons .btn a, .Control .buttons .btn a:visited {
    color: #2e6da4;
    text-decoration: none;
    text-shadow: rgba(200, 200, 200, 0.5) 0px 1px 1px;
}

.Control .buttons .btn a:hover {
    color: #3e6e96;
}

.Control .wanted-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: justify;
}
.Control .wanted-list li {
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.Control .wanted-list .name {
    display: block;
    text-align: left;
}
.Control .wanted-list .count {
    color: #888;
    display: block;
    text-align: right;
}
.Control .wanted-list .count::before {
    content: " x";
    font-size: 10px;
}

.Control p {
    text-align: left;
    text-transform: none;
}