.ShipSetup {
    text-align: left;
}
.ShipSetup .grid {
    width: 500px;
    height: 500px;
    border: 1px solid #333;
    background: #ffffff;
}
.ShipSetup .grid .cell {
    fill: transparent;
    stroke-width: 1px;
    stroke: #7bafdc;
    cursor: default;
    z-index: 9;
}

.ShipSetup .grid .cell:hover {

}

.ShipSetup .ship-frame {
    fill: #d8f6ff;
    stroke-width: 2px;
    stroke: #4664fc;
    z-index: 99;
    cursor: pointer;
}
.ShipSetup .ship-frame.draggable {
    cursor: move;
}
.ShipSetup .ship-frame.dragging {
    opacity: 0.5;
    z-index: 999;
}
.ShipSetup .ship-frame.invalid {
    stroke: #fd4545;
}