.GridBack  {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    color: #888;
    font-family: monospace;
}

.GridBack .header-column {
    padding: 4px;
    text-align: center;
    vertical-align: bottom;
}

.GridBack .header-row {
    padding: 4px;
    text-align: right;
    vertical-align: center;
}

@media screen and (max-width: 992px) {
    .GridBack {
        margin: 0;
    }
}